/*
--Colors
    primary: #a57f5e
    secondary: #d2baa5
    accent: #c69f7e
*/

body {
    background-color: #fff;
    font-family: "Anton", sans-serif;
}

.main-container {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.page-container {
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.page-title {
    color: #a57f5e;
}

.page-link {
    justify-content: space-evenly;
    
    background: rgb(165,127,94);
    background: linear-gradient(135deg, rgba(165,127,94,1) 0%, rgba(198,159,126,1) 100%);

    flex-direction: column;
    align-items: center;
    flex-direction: column;
    color: #000000;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    height: 120px;
    width: 150px;
}

.page-link:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transform: translateY(-10px);
}

a:visited {
    text-decoration: none;
    color: #000000;
}

.footer {
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--secondary-color);
    text-align: center;
    position: fixed;
    z-index: 1000;
    padding: 15px;
    color: #000;
    width: 100%;
    bottom: 0;
    left: 0;
}
