/*
--Colors
    primary: #a57f5e
    secondary: #d2baa5
    accent: #c69f7e
*/

body {
    background-color: #fff;
    font-family: "Anton", sans-serif;
}

.main-container {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.page-container {
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.page-title {
    color: #a57f5e;
}

.page-link {
    justify-content: space-evenly;
    
    background: rgb(165,127,94);
    background: linear-gradient(135deg, rgba(165,127,94,1) 0%, rgba(198,159,126,1) 100%);

    flex-direction: column;
    align-items: center;
    flex-direction: column;
    color: #000000;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    height: 120px;
    width: 150px;
}

a:visited {
    text-decoration: none;
    color: #000000;
}