/*
--Colors
    primary: #a57f5e
    secondary: #d2baa5
    accent: #c69f7e
*/

body {
    background-color: #000000;
    font-family: "Anton", sans-serif;
}

.main-container {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.page-container {
    flex-direction: column;
    display: flex;
}

.page-title {
    color: #a57f5e;
}

.page-link {
    background-color: #d2baa5;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    color: #000000;
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    height: 30px;
    width: 180px;
}

a:visited {
    text-decoration: none;
    color: #000000;
}