.container {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(0, 0%, 12%);
    width: 300px;
    padding: 30px;
    border-radius: 10px;
    font-family: "Outfit", sans-serif;
}

img {
    max-width: 150px;
    border-radius: 100px;
    margin: auto;
}

body {
    background-color: hsl(0, 0%, 8%);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

button {
    background-color: hsl(0, 0%, 20%);
    border-radius: 7px;
    height: 30px;
    color: hsl(0, 0%, 100%);
    border-style: hidden;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}

.name, .description {
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
}

.location {
    color: hsl(75, 94%, 57%);
    display: flex;
    justify-content: center;
    margin-top: 0;
}

.description {
    margin-top: 0;
}

.name {
    margin-bottom: 0;
}